In [111]:
import keyword as rev
print(rev.kwlist)
print(rev.softkwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
['_', 'case', 'match']

In [112]:
%pwd

'c:\\Users\\viraj\\Documents\\Viraj-Doc\\Mtech\\Coding\\Python\\Learning_DS'

In [113]:
none = 10

In [114]:
none

10

In [115]:
class = 10
return = 5
if = 'hello'
else = 23.23
print(class,return,if,else)

SyntaxError: invalid syntax (2000605024.py, line 1)

In [116]:
_class = 10
_return = 5
_if = 'hello'
_else = 23.23
print(_class,_return,_if,_else)

10 5 hello 23.23

In [117]:
c = _class + _else
print(c)

33.230000000000004

In [118]:
up_strg = 'lower'
UP_STRG = 'UPPER'
print(up_strg, UP_STRG)

lower UPPER

In [119]:
def add(a, b):
    """
    This Function adds 2 numbers

    Parameters:
    a (int) = 1st Number
    b (int) = 2nd Number

    Returns:
    (int) : Sum of the parameters
    """

    return a+b

In [120]:
print(add(1,2))
print(add.__doc__)
print(add.__annotations__)
print(add.__code__)

3

    This Function adds 2 numbers

    Parameters:
    a (int) = 1st Number
    b (int) = 2nd Number

    Returns:
    (int) : Sum of the parameters

{}
<code object add at 0x000001CF2B0AB910, file "C:\Users\viraj\AppData\Local\Temp\ipykernel_18748\209730688.py", line 1>

In [122]:
1var = 20

SyntaxError: invalid decimal literal (2311339134.py, line 1)

In [123]:
$asd = 342

SyntaxError: invalid syntax (2086002629.py, line 1)

In [124]:
var up = 323

SyntaxError: invalid syntax (3827246077.py, line 1)

In [125]:
for = 321

SyntaxError: invalid syntax (2964353401.py, line 1)

In [126]:
var1 = 32
second_var = 342
print(var1, second_var)

32 342

In [127]:
# Defining Function
def helloWorld():
    print("Helo, How you doing....")

In [128]:
# Calling Function
helloWorld()

Helo, How you doing....

In [129]:
x = int(input("Number :"))
if x>123:
    print("x is more than 123")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
for i in range(4):
    print("Hello", i)

Hello 0
Hello 1
Hello 2
Hello 3

In [ ]:
sum =  1 + 23 + \
    4 + 43
add = (324 + 2 + 32 +
    	21 + 23 + 12)
print(sum, add)

71 414

In [ ]:
a =2 ; r = 3111; print(a+r)

3113

In [ ]:
# Homogeneous List
fruits = ["apples", "graphes", "tamatoo"]
print(fruits)
# Heterogeneous List
salad = ["carrot", "raddish", 21, 3.32, [3,2,14,3]]
print(salad)

['apples', 'graphes', 'tamatoo']
['carrot', 'raddish', 21, 3.32, [3, 2, 14, 3]]

In [ ]:
#Index Slicing
Listed = [1,23,323,32]
print(Listed[2])
print(Listed[0])

323
1

In [ ]:
# Tuples
# Homogeneous Tuples
tups = (32,32,21)
print(tups)

# Heterogeneous Tuples
tuped = (12,12.2,"string", [21,34,654],(31))
print(tuped)

#Slicing 
print(tuped[0])
print(tuped[2:4])

(32, 32, 21)
(12, 12.2, 'string', [21, 34, 654], 31)
12
('string', [21, 34, 654])

In [ ]:
# Dictionaries
# Homogeneous Dictionaries
students = {"Name 1": "Ravi", "Marks 1": 89,
            "Name 2": "Siddarth", "Marks 2": 90}
print(students)

# Heterogeneous Dictionaries
PointCould = {"Color": "R", "Z": 2, "(x, y)": (3, 6)}
print(PointCould)

# Unique Keys
student_list = {"Name": "Ravish", "Marks": 89, 
                "Name": "Sid", "Marks": 90} 
# Same Keys gets updated
print(student_list)

# Accessing Values
Dict = {"Movie_name": "Intersteller", "Length": 3.5}
print("Name of the Moive -", Dict["Movie_name"])
print("Length of the Movie -", Dict["Length"])
print(students["Name 1"])
print(student_list["Name"])

{'Name 1': 'Ravi', 'Marks 1': 89, 'Name 2': 'Siddarth', 'Marks 2': 90}
{'Color': 'R', 'Z': 2, '(x, y)': (3, 6)}
{'Name': 'Sid', 'Marks': 90}
Name of the Moive - Intersteller
Length of the Movie - 3.5
Ravi
Sid

In [ ]:
# Set
# Homogeneous Set
Values = { 2, 5, 6, 43}
print(Values)

Color = {"Red", "Green", "Blue"}
print(Color)

# Heterogenous Set
seted = {"Green", 42, "Ted", 332}
print(seted)

{2, 43, 5, 6}
{'Red', 'Green', 'Blue'}
{'Ted', 42, 'Green', 332}

In [ ]:
x = 213
print(type(x))

<class 'int'>

In [ ]:
# Explicite Type Casting

adding_string = "5" + str(3)
adding_int    = int("5") + 3

print(adding_string)
print(adding_int)

53
8

In [ ]:
listing = [1, 2, 4, 5, 7, 83]
ires = listing[2]
print(ires)

4

In [ ]:
new_listing = listing[4] if len(listing) > 5 else None
print(new_listing)

7

In [ ]:
print("Welcome to Data")
name = input("Enter your name :")
print(f"Hello {name} !!!!!")
'''

f before string is denoted formatted string literal
F-string for short

{} - curls evaluated and inserted the value of variables

'''

Welcome to Data
Hello 4 !!!!!

'\n\nf before string is denoted formatted string literal\nF-string for short\n\n{} - curls evaluated and inserted the value of variables\n\n'

In [ ]:
num1 = int(input("Enter Number :"))
num2 = int(input("Enter Adder  :"))
sum = num1 + num2

print(f"Sum of {num1} and {num2} is {sum}")

Sum of 32 and 23 is 55

In [ ]:
Math = 400
English = 900
print("Marks of Maths is ", Math, "\n and of English is ", English)

Marks of Maths is  400
 and of English is  900

In [ ]:
difference = num1 - num2 
product = num1 * num2 
if num2 != 0:
    quotient = num1 / num2
    reminder = num1 % num2
else:
    quotient = "Underfined (infinite)"
    reminder = "Underfined (infinite)"

print(f"Sum is {sum} of {num1} and {num2}")
print(f"Product is {product} of {num1} and {num2}")
print(f"Quotient is {quotient} and reminder is {reminder} of {num1} and {num2}")

Sum is 55 of 32 and 23
Product is 736 of 32 and 23
Quotient is 1.391304347826087 and reminder is 9 of 32 and 23

In [ ]:
print(num1 + num2)
print(num1 - num2)
print(num1 / num2)
print(num1 * num2)
print(num1 // num2)
print(num1 ** num2)
print(num1 % num2)

55
9
1.391304347826087
736
1
41538374868278621028243970633760768
9

In [130]:
# Bitwise operator
print(num1 == num2)
print(num1 != num2)

#Logical operator
"""
AND
OR
NOT
XOR
"""
print((num1 == num2) and (num1 != num2))
print(num1 == num2 or num1 != num2)
print(not num1 == num2)
print(num1 == num2 ^ num1 != num2)

False
True
False
True
True
False

In [131]:
A = 10
print("A = ",A)
# Right shift
rigth = A >> 1
print(rigth)

# Left shift
left = rigth << 1
print(left)

# Binary Convert
print(bin(A))

# Assignment operator
ass = A
ass += 5
print("A operation = ", ass)
ass -= 5
print(ass)
ass *= 3
print(ass)
ass /= 2
print(ass)

A =  10
5
10
0b1010
A operation =  15
10
30
15.0

In [132]:
score = int(input("Enter your marks : "))
if score > 90:
    print("Distinction")
elif score > 80:
    print("Excellent")
elif score > 70:
    print("Very Good")
elif score < 60:
    print("Improve")
else :
    print("Bad")

Bad

In [133]:
num1 = 90
num2 = 40
num3 = 9

if (num1 >= num2) and (num1 >= num3):
    print(num1,"num1 is the largest.")
elif (num2 >= num1) and (num2 >= num3):
    print(num2,"num2 is the largest.")
else:
    print(num3,"num3 is the largest.")

90 num1 is the largest.

In [134]:
choice = input("Enter the operation :")
if choice == "add":
    print(num1,"+",num2,"=",num1+num2)
elif choice == "sub":
    print(num1,"-",num2,"=",num1-num2)
else:
    print("Worng Choice")

90 + 40 = 130

In [135]:
# series till 5
for i in range(5):
    print(i)

0
1
2
3
4

In [136]:
# Series from 2  to 6
for i in range(2,6):
    print(i)

2
3
4
5

In [137]:
# Series from 2 to 40 with 5 steps:
for i in range(2,40,5):
    print(i)

2
7
12
17
22
27
32
37

In [138]:
colors = ["Violet", "Indigo", "Blue", "Green", "Orange", "Red", "Yellow"]
for color in colors:
    print(color)

Violet
Indigo
Blue
Green
Orange
Red
Yellow

In [139]:
for index in range(len(colors)):
    print(colors[index])

Violet
Indigo
Blue
Green
Orange
Red
Yellow

In [140]:
# star pattern one
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [141]:
# star pattern two

In [142]:
# star pattern three

In [143]:
# star pattern four

In [144]:
# star pattern five

In [145]:
# Number pattern
init_num = 16
lines = 5
for i in range(lines):
    num = init_num
    for j in range(i+1):
        print(num, end=" ")
        num //= 2
    print()

16
16 8
16 8 4
16 8 4 2
16 8 4 2 1

In [146]:
# Nested 'for' loop

for i in range(1, 10):
    for j in range(1, 10):
        print(i*j, end="\t")
    print()

1	2	3	4	5	6	7	8	9
2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [147]:
names = ["Ravi", "Ram", "Siddarth", "Kumar", "Verma"]
salaries = [50000, 30000, 80000, 100000, 120000]

print("List of Salaries :", end=" ")
print(salaries)

promot = input("Who to promote :")
hike = int(input("Percent of hike :"))

for i in range(len(names)):
    if names[i] == promot:
        percent = hike / 100
        increment = salaries[i]*percent
        salaries[i] += increment

print("Salary of", promot, "is incremented by", hike,"%.")
print("New salaries is :", salaries)

List of Salaries : [50000, 30000, 80000, 100000, 120000]
Salary of Ram is incremented by 69 %.
New salaries is : [50000, 50700.0, 80000, 100000, 120000]

In [148]:
import time 

start_time = time.time()
duration = 10

while time.time() - start_time < duration:
    print("Hello, Time python")
    time.sleep(3)

Hello, Time python
Hello, Time python
Hello, Time python
Hello, Time python

In [149]:
names = ["ravi", "ram", "siddarth", "kumar", "verma"]
for i in range(len(names)):
    if not names[i][0].isupper():
        names[i] = names[i].capitalize()
print(names)

['Ravi', 'Ram', 'Siddarth', 'Kumar', 'Verma']

In [150]:
def print_even(x):
    even_num = []
    for i in range(1, x+1):
        if i%2 == 0:
            even_num.append(i)
    print(f"Even Numbers till",x,"are",even_num)

N = int(input("Enter the limit :"))
print_even(x=N)

Even Numbers till 60 are [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

In [151]:
# Lambda Function
# identifier = lambda argument : expression

add = lambda x, y: x+y
sub = lambda a, b: a-b
mult = lambda p, q: p*q

print(add(3,4))
print(sub(5,121))
print(add(3,2))

7
-116
5

In [152]:
# Lambda Function for adding 2 user inputed numbers 
user_add = lambda: int(input("First Number :")) + int(input("Second Number :"))
print(user_add())

120

In [153]:
# Lambda Function for finding the number is even or odd
even_odd = lambda x : 'even' if x%2==0 else 'odd' 
print(even_odd(int(input())))

even

In [154]:
# Lambda Function for finding the largest number
largestof2 = lambda x, y: x if x>y else y
print(largestof2(int(input()), int(input())))

90

In [159]:
# Lambda Function for manipulate list elements
numbers = [13,2,344,5,567,3]
square_list = lambda x : [i ** 2 for i in x]
sq_numbers = square_list(numbers)
print(sq_numbers)

[169, 4, 118336, 25, 321489, 9]

In [158]:
# List of Dictionaries
# Employee List
employee_list = [
    {'Name': 'Ravi', 'Number': 321},
    {'Name': 'Kumar', 'Number': 328},
    {'Name': 'Raju', 'Number': 322},
    {'Name': 'Darma', 'Number': 329},
    {'Name': 'Rai', 'Number': 320},
]

# Sort the list on key as Employee Number
sorted_employee_list = sorted(employee_list, key=lambda x : x["Number"])

# Print the sorted list
for employee in sorted_employee_list:
    print(employee)

{'Name': 'Rai', 'Number': 320}
{'Name': 'Ravi', 'Number': 321}
{'Name': 'Raju', 'Number': 322}
{'Name': 'Kumar', 'Number': 328}
{'Name': 'Darma', 'Number': 329}

In [163]:
# Recursion

# Factorial of the number
def fact(x):
    if x == 0:
        return 1
    elif x == 1:
        return 1
    elif x > 1:
        return x * fact(x-1)
    else:
        return 0
fact(int(input()))

1

In [171]:

def recur_sum(x):
    if x == 1:
        return 1
    elif x == 0:
        return 0
    elif x > 0:
        return x + recur_sum(x-1)
    else:
        return 'Invade'

recur_sum(int(input()))

4095

In [175]:
def fibonacci(x):
    a,b = 0,1
    for i in range(x):
        print(a, end=" ")
        a, b = b, a+b

fibonacci(9)

0 1 1 2 3 5 8 13 21